* {
	line-height: 1.2;
	margin: 0;
	padding: 0;
}

html {
	color: #888;
	font-family: sans-serif;
	text-align: center;
	width: 100%;
	height: 100%;
}

body {
	max-width: 780px;
	display: flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	margin: auto;
	font-size: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	/* TODO: fix transition load time, right now fires b4 page items load */
	/* transition: all 1s ease-in-out; */

	background-image: url('../assets/homescreen4.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 1;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	flex-direction: column;
	opacity: 1;
	margin: 0;
	padding: 0;
	background-color: rgba(255, 255, 255, 1);
	border-bottom: rgba(112, 112, 112, 1) solid 1 px;
	border: rgba(112, 112, 112, 1) solid 1px;
	border-radius: 32px;
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		0 100px 80px rgba(0, 0, 0, 0.12);
	width: 35em;
	height: 25em;
}

section {
	width: 65%;
}

main .forgot-reset-btn {
	color: #7b85ff;
	border: 1.3px solid #7b85ff;
	border-radius: 40px;
	margin: 30px;
	padding: 15px 0;
	width: 30%;
	background-color: white;
}

/*** Title ***/

.forgot-title {
	color: #00003d;
	font-size: 1.7em;
	font-weight: bold;
	margin-bottom: 30px;
}

/*** Description ***/

.forgot-description {
	color: #6d7388;
	line-height: 1.2;
}

/*** Email Adress ***/

.fogot-email-label {
	display: flex;
	justify-content: left;
	align-self: left;
	font-size: 0.75em;
	font-weight: 700;
	color: #6d7388;
	margin-top: 60px;
}

.forgot-email-input {
	display: flex;
	justify-content: left;
	align-self: left;
	border: 2px solid #ebeef1;
	padding: 15px;
	border-radius: 5px;
	width: 100%;
	margin-top: 5px;
}

/*** Reset Button ***/
/* 
TODO: when onClick - change color of button to return to white background and purple font color, 
right now it is greenish background and purple font color.
*/

.forgot-reset-btn {
	color: #7b85ff;
	border: 1.3px solid #7b85ff;
	border-radius: 40px;
	margin: 30px;
	padding: 15px 0;
	width: 50%;
	background-color: white;
}

.forgot-reset-btn:hover,
.forgot-reset-btn:active {
	background-color: #7b85ff;
	color: white;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}
