<style>
    body {
        background-image: url('https://i.ibb.co/TWKyPc1/50-opacity.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
    }
    .top-bar {
        color: white;
    }
    .logo {
        height: 150px;
        position: absolute;
        left: 20px;
    }
    .links {
        position: absolute;
        top: 60px;
        right: 50px;
        font-size: 18px;
    }
    a {
        color: black;
    }
    .customers-section {
        margin-top: 10px;
        margin-right: fill;
    }
    .card {
        top: 100px;
    }
</style>
<body>
<div class="top-bar">
    <a href="dashboard">
        <img class="logo" src="https://i.ibb.co/jgh8GcF/2-logo.png" alt="Brown Mahjong Logo" border="0"/><br/>
    </a>
    <div class="links"><a href="/dashboard">Dashboard</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="">Settings</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/users/logout">Logout</a></div>
</div>
<div class="card card-body">
<section class="customers-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding">
    <div class="container">
        <div class="card-text col-md-8 col-md-offset-2">

            <h2>We're inspired by ...</h2>
            <br>

            <p>This online mahjong game was created in response to the COVID-19 pandemic and Brown University announcing policies prohibiting us from hosting in-person events. Given these constraints, we developed this platform over the summer of 2020 to allow us to continue hosting synchronous events remotely over the 2020-2021 academic year.</p>
            
            <h2>Credits</h2>
            <br>
            <p>The following people have been heavily involved this summer in the creating this platform and we would not be able to continue hosting events online without them:<br>Abhay Chopra, Aman Rizvi, Brian Chou, Em Lamb, Meet Shah, Sam Maffa ‘22, Vic Lee, Weichao Zheng</p>
            
            <h2>About Brown University Mahjong Club</h2>
            <br>
            <p>
                Brown University Mahjong Club was founded in 2019 by Matthew Dai ’22 and Lang Liang ’22 and is made up of members who love playing mahjong and want to teach more members of the Brown community how to play it.
                <br> 
                <br> 
                We have over 100 members and are a Category II Brown UCS-recognized organization. Our goal is to spread our love of the game of mahjong to the Brown University community through meetings where community members can learn and play the game as well as compete against others. We believe that mahjong is a unique cultural tradition and custom of China.
                <br>
                <br> 
                While people are generally aware of other aspects of Chinese culture such as the cuisine, holidays/festivals, and artistry, few people are familiar with the Chinese pastime of the game of mahjong. We hope to teach more people how to play the game and share this intimate part of Chinese culture.
            </p>

        </div>
    </div>
</section>
</div>
</body>
